@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

@media (max-width:1261px) {
    html, body {
      font-size: 12px;
    }
}

@media (max-width:1164px) {
    html, body {
      font-size: 11px;
    }
}

@media (max-width:1067px) {
    html, body {
      font-size: 10px;
    }
}

@media (max-width:970px) {
    html, body {
      font-size: 9px;
    }
}

@media (max-width:873px) {
    html, body {
      font-size: 8px;
    }
}

@media (max-width:873px) {
    html, body {
      font-size: 7px;
    }
}

@media (max-width:776px) {
    html, body {
      font-size: 6px;
    }
}

@media (max-width:679px) {
    html, body {
      font-size: 5px;
    }
}

@media (max-width:582px) {
    html, body {
      font-size: 4px;
    }
}

div.slide {
  width: 100%;
  font-family: 'Lato', sans-serif;
}

div.slide > div {
  position: relative;
  height: 100%;
  padding-top: 1px;
  margin-top: -1px;
}


/***********
 * SLIDE 1 *
 ***********/

div#slide1, body.privacy {
  background-color: #e7e7e5;
  color: #999999;
  background-image: url('../images/upper-border.png');
  background-repeat: no-repeat;
  background-size: contain;
}

div#slide1 {
    height: 100%;
}

div#slide1 > div {
  padding-left: 8.2rem;
  background-image: url('../images/linitas.png');
  background-size: cover;
}

div#slide1 h1 {
  font-weight: bold;
  font-size: 3.3rem;
  margin-top: 3.4rem;
}

div#slide1 p {
  font-size: 2.2rem;
  margin-top: 1rem;
}

div#slide1 label {
  font-size: 2.1rem;
}

div#slide1 img#banner {
  margin-top: 3rem;
  margin-left: -8.2rem;
  width: 60%;
}

div#slide1 img#circles {
  width: 40.6%;
  margin-top: 0rem;
}

div#slide1 img#three-of-em {
  position: absolute;
  bottom: -4%;
  right: 2.4rem;
  z-index: 200;
  width: 40%;
}


/***********
 * SLIDE 2 *
 ***********/


div#slide2 {
  background-color: #ffffff;
  color: #808080;
  font-weight: thin;
  padding-top: 7rem;
  padding-bottom: 4rem;
  overflow-x: hidden;
}

div#slide2 > div{
  display: table;
  width: 100%;
}

div#slide2 div#iphones, div#slide2 div#get-app {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

div#slide2 div#iphones {
  width: 55%;
}

div#slide2 div#iphones img {
  width: 40%;
}

@media (max-width:890px) {
    .highres {
      display: none;
    }
}

div#slide2 div#get-app {
  padding-right: 6rem;
}

div#slide2 div#get-app img {
  width: 21rem;
}

div#slide2 h1 {
  font-size: 5.5rem;
  font-weight: 100;
  margin-bottom: 1rem;
  line-height: 1em;
}

div#slide2 p {
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 1.5em;
  margin-top: -0.3em;
}

/***********
 * SLIDE 3 *
 ***********/

div#slide3 {
  background-color: #000000;
  overflow-x: hidden;
}

div#slide3 > div {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 1rem;
}

div#slide3 h1 {
  margin-left: 1rem;
  font-weight: bold;
  color: #93e99e;
  font-size: 3.7rem;
  margin-top: 5rem;
}

div#slide3 div#analytics {
  margin-left: 9rem;
  margin-right: 20%;
}

div#slide3 h2 {
  font-size: 4.2rem;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 0;
}

div#slide3 p {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 2.34rem;
  color: #ffffff;
  margin-bottom: 5rem;
}

div#slide3 label {
  font-weight: 300;
  font-size: 3rem;
  color: #ffffff;
}

div#slide3 button {
  /* http://jsfiddle.net/BNvke/1/ */
  padding: 1rem 2rem;
  font-size: 3.5rem;
  margin-right: 0.8rem;
  margin-bottom: 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  display: inline-block;
  white-space: nowrap;
  line-height: 1.3em;
  position: relative;
  outline: none;
  overflow: visible;
  cursor: pointer;
  border-radius: 0.7rem;
  background-color: #93e99e;
  border: 0;
  font-weight: bold;
  /*box-shadow:1px 1px 2px 0 #CCCCCC;*/
  font-family: 'Lato', sans-serif;
}

div#slide3 img#corbatin {
  position: absolute;
  top: 0;
  right: 3%;
  width: 16%;
}

div#slide3 img#monitor {
  z-index: 200px;
  float: left;
  text-align: center;
  width: 104%;
  margin-left: -2.5rem;
}

div#slide3 div#customize {
  position: absolute;
  right: 2.4rem;
  bottom: 0rem;
}

/***********
 * SLIDE 4 *
 ***********/

div#slide4 {
  background-color: #93e99e;
  background-image: url('../images/lower-border.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 6rem;
}

div#slide4 > div {
  padding-left: 25px;
  padding-right: 25px;
}

div#slide4 h1 {
  font-weight: bold;
  font-size: 3.7rem;
  color: #000000;
}

div#slide4 h2 {
  font-weight: 300;
  font-size: 4.2rem;
  color: #000000;
  margin-left: 6.5rem;
}

div#slide4 p {
  margin-top: 7.5rem;
  font-weight: 300;
  font-size: 2.65rem;
  color: #666666;
  line-height: 1.4em;
  margin-right: 10%;
}

div#slide4 form {
  font-size: 2rem;
  color: #666666;
  margin-top: 6rem;
  display: inline-block;
}

@media (max-width:890px) {
    div#slide4 form {
      margin-top: 0;
    }
}

div#slide4 button {
  font-weight: bold;
  font-size: 1.9rem;
  color: #666666;
}

div#slide4 img#geeks {
  margin-top: 5rem;
  float: left;
  margin-right: 5rem;
  max-width: 30%;
}

div#slide4 div#dev-info {
  width: 100%;
  float: right;
  line-height: 1.6em;
  padding-left: 50%;
  height: 50%;
}

div#slide4 div#dev-info label {
  position: relative;
  top: -1rem;
}

div#slide4 div#dev-info input {
  border: none;
  border-radius: 0.2rem;
  height: 5.5rem;
  margin-right: 1.2rem;
  width: 55rem;
  position: relative;
  top: -0.2rem;
  font-size: 3rem;
}

div#slide4 div#dev-info button {
  padding: 1rem 2rem;
  font-size: 3.5rem;
  margin-right: 0.8rem;
  margin-bottom: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  display: inline-block;
  white-space: nowrap;
  line-height: 1.3em;
  position: relative;
  outline: none;
  overflow: visible;
  cursor: pointer;
  border-radius: 4px;
  background-color: #fae830;
  border: 0;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

/**********
 * FOOTER *
 **********/

footer {
  font-family: 'Open Sans', sans-serif;
  height: 7.6rem;
  background-color: #2b2f31;
  padding: 0 1.4rem;
  color: #999999;
  font-size: 2rem;
}

footer span {
  line-height: 7.6rem;
  margin-left: 1.4rem;
}

footer a.contact {
  color: #999999;
  line-height: 7.6rem;
  text-decoration: none;
  float: right;
  margin-right: 1.4rem;
}

footer img.social-network {
  float: right;
  width: 4.8rem;
  margin: 1.4rem;
  line-height: 7.6rem;
}


/***********
 * PRIVACY *
 ***********/

body.privacy > div {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: #270707;

}

body.privacy h1 {
  margin-top: 6rem;
  font-size: 4.5rem;
  font-weight: 400;
}

body.privacy h2 {
  font-size: 3rem;
  font-weight: 200;
}

body.privacy a {
  color: #666;
  text-decoration: none;
}

body.privacy a:hover, body.privacy a:focus {
  border-bottom: 1px dotted #666;
}

body.privacy div.contact-info {
  margin-left: 2rem;
}