doctype html
html
  head
    meta(charset='utf-8')

    title Moodsy

    meta(name='description', content='Easy and fun way to share your emotions!')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='/mood.css', rel='stylesheet')
    // TODO: Remove unused font-weights
    link(href='http://fonts.googleapis.com/css?family=Lato:400,300,700,900',
    rel='stylesheet')

    script(src='/moment.js')
    script(src='/mood.js')

  body
    header
      div#content
        h1 Moodsy
        div#home
          a(href="/")
            img(src="/images/home.png")
        div#get-app
          a(href="/app") Get the App!
    section#main
      div#mood
        img
      div#sidebar
        div#status
          div.avatar
            img
          div#description
            div.name
            date
            label.text 
          div.group
        div#likes
          img(src='/images/like.png')
          p
        div#comments
          div.comment(style='display: none;')
            div.avatar
              img
            div.author
              a(href="/app")
            div.text
          div.group
        div#reply
          a#like(href='/app')
            img(src='/images/like.png')
          input(type='text', onclick='location.href="/app"')

    include ../includes/footer.jade
