doctype html
html
  head
    meta(charset='utf-8')

    title Moodsy


    meta(name='twitter:app:country', content='US')
    meta(name='twitter:app:name:iphone', content='Moodsy - Express Yourself')
    meta(name='twitter:app:id:iphone', content='804256702')
    meta(name='twitter:app:url:iphone', content='moodsy://')

    meta(property='og:title', content='Moodsy - Express Yourself')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://moodsy.me/')
    meta(property='og:image', content='http://internal.moodsy.me/facebook_invite.jpg')
    meta(property='og:description', content='Easy and fun way to share your Emotions!')

    meta(property='al:ios:url', content='moodsy://')
    meta(property='al:ios:app_store_id', content='804256702')
    meta(property='al:ios:app_name', content='Moodsy - Express Yourself')

    meta(name='description', content='Easy and fun way to share your Emotions!')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='/static/landing.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet')

  body(style="background-image: url('/static/images/backgrounds/{{ number }}.jpeg');")
    div#container
      header
        h1 Moodsy
        h2 Share your emotions

      section
        div#text
          | A fast, beautiful & fun way to 
          b share
          |  and 
          b track
          |  your Emotions

        div#stores
          a(href='http://itunes.com/apps/Moodsy')
            img(src='/static/images/app-store.png', alt='Download on the App Store')
          // a(href='#')
          //   img(src='/static/images/google-play.png', alt='Get it on Google Play')

        div#iphones
          img(src='/static/images/iphones/{{ number }}.png', id='iphone', alt="Share your Emotions!")

      include ./includes/footer.jade
