doctype html
html
  head
    meta(charset='utf-8')

    title Moodsy

    meta(name='description', content='Easy and fun way to share your emotions!')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='/static/landing.css', rel='stylesheet')
    // TODO: Remove unused font-weights
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet')

    body(style="background-image: url('/static/images/backgrounds/{{ number }}.jpeg');")
    div#container
      header
        h1 Moodsy
        h2 Share your emotions

      section
        div#text
          | A fast, beautiful & fun way to 
          b share
          |  and 
          b track
          |  your emotions

        div#stores
          a(href='http://itunes.com/apps/Moodsy')
            img(src='/static/images/app-store.png')
          a(href='#', style='display: none;')
            img(src='/static/images/google-play.png')

        div#iphones
          img(src='/static/images/iphones/{{ number }}.png', id='iphone')

      include ./includes/footer.jade
