doctype html
html
  head
    meta(charset='utf-8')

    title Moodsy

    meta(name='description', content='Easy and fun way to share your emotions!')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='/landing.css', rel='stylesheet')
    // TODO: Remove unused font-weights
    link(href='http://fonts.googleapis.com/css?family=Lato:400,300,700,900',
    rel='stylesheet')

  body(onload="changeBg()")
    script.
      function changeBg() {
        var i = Math.floor(Math.random() * 3.99)
        document.body.style.backgroundImage = 'url(/images/backgrounds/' + i + '.jpeg)'
        document.getElementById("iphone").src = '/images/iphones/' + i + '.png'
      }
    div#container
      header
        h1 Moodsy
        h2 Share your emotions

      section
        div#text
          | A fast, beautiful & fun way to 
          b share
          |  and 
          b track
          |  your emotions

        div#stores
          a(href='http://itunes.com/apps/Moodsy')
            img(src='/images/app-store.png')
          a(href='#', style='display: none')
            img(src='/images/google-play.png')

        div#iphones
          img(src='/images/iphones/0.png', id='iphone')

      include ./includes/footer.jade
